.liveupdate {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  margin-left: 0vw;
}
.live {
  display: flex;
  align-items: center;
  margin-left: 30vw;
}
h1 {
  align-self: center;
  font-size: 40px;
  font-weight: 400px;
  text-align: center;
  color: #46d5fe;
  font-style: oblique;
}
h2 {
  align-self: center;
  font-size: 30px;
  font-weight: 400px;
  text-align: center;
}
.numof {
  align-self: flex-end;
}
.divofstatistiques {
  display: flex;
  flex-direction: row;
  margin-top: 4vw !important;
  border-radius: 20px;
}
.statiquesnames {
  background-color: #012f84;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 13.5vw;
  margin-top: -2vw;
  width: 15vw;
  height: 6vw;
  border-radius: 20px;
}
.pS {
  background-color: #012f84;
  align-self: center;
  width: 15vw;
  height: 6vw;
  border-radius: 30px;
}
.hD {
  color: red;
}
.hC {
  color: yellow;
}
.hR {
  color: orange;
}

.icon1 {
  color: red;
}
@media (max-width: 400px) {
  .liveupdate {
    display: flex;
    flex-direction: column;
    margin-top: 5vw !important;
    align-items: center;
  }
  .live {
    margin-left: 2vw;
  }
  .icon1 {
    visibility: hidden;
  }
  h1 {
    font-size: 30px;
    width: 100vw;
    margin-left: -10vw;
  }
  .divofstatistiques {
    background-color: #012f84;
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .statiquesnames {
    width: 30vw;
    margin-left: 20vw;
    margin-top: 0vw;
    align-items: center;
    display: flex;
    flex-direction: row;

    height: 35vw;
  }
  .firstone2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hr {
    align-self: center;
  }
  .pSC {
    align-self: center;
    margin-top: -10vw !important;
  }
  .pSD {
    align-self: center;
    margin-top: -10vw !important;
  }
  .pSR {
    align-self: center;
    margin-top: -10vw !important;
  }
}
@media (min-width: 401px) and (max-width: 600px) {
  .liveupdate {
    display: flex;
    flex-direction: column;
    margin-top: 5vw !important;
    align-items: center;
  }
  .live {
    margin-left: 2vw;
  }
  .icon1 {
    visibility: hidden;
  }
  h1 {
    font-size: 30px;
    width: 100vw;
    margin-left: -10vw;
  }
  .divofstatistiques {
    background-color: #012f84;
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .statiquesnames {
    width: 30vw;
    margin-left: 20vw;
    margin-top: 0vw;
    align-items: center;
    display: flex;
    flex-direction: row;

    height: 35vw;
  }
  .firstone2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hr {
    align-self: center;
  }
  .pSC {
    align-self: center;
    margin-top: -10vw !important;
  }
  .pSD {
    align-self: center;
    margin-top: -10vw !important;
  }
  .pSR {
    align-self: center;
    margin-top: -10vw !important;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .liveupdate {
    display: flex;
    flex-direction: column;
    margin-top: 5vw !important;
    align-items: center;
  }
  .live {
    margin-left: 2vw;
  }
  .icon1 {
    visibility: hidden;
  }
  h1 {
    font-size: 30px;
    width: 100vw;
    margin-left: -10vw;
  }
  .divofstatistiques {
    background-color: #012f84;
    display: flex;
    flex-direction: column;
    width: 60vw;
  }
  .statiquesnames {
    width: 30vw;
    margin-left: 20vw;
    margin-top: 3vw;
    align-items: center;
    display: flex;
    flex-direction: row;

    height: 35vw;
  }
  .firstone2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hr {
    align-self: center;
  }
  .pSC {
    align-self: center;
    margin-top: -6vw !important;
  }
  .pSD {
    align-self: center;
    margin-top: -6vw !important;
  }
  .pSR {
    align-self: center;
    margin-top: -6vw !important;
  }
}
@media (min-width: 701px) and (max-width: 810px) {
  .liveupdate {
    display: flex;
    flex-direction: column;
    margin-top: 5vw !important;
    align-items: center;
  }
  .live {
    margin-left: 2vw;
  }
  .icon1 {
    visibility: hidden;
  }
  h1 {
    font-size: 30px;
    width: 100vw;
    margin-left: -10vw;
  }
  .divofstatistiques {
    background-color: #012f84;
    display: flex;
    flex-direction: column;
    width: 60vw;
  }
  .statiquesnames {
    width: 30vw;
    margin-left: 20vw;
    margin-top: 3vw;
    align-items: center;
    display: flex;
    flex-direction: row;

    height: 35vw;
  }
  .firstone2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hr {
    align-self: center;
  }
  .pSC {
    align-self: center;
    margin-top: -6vw !important;
  }
  .pSD {
    align-self: center;
    margin-top: -6vw !important;
  }
  .pSR {
    align-self: center;
    margin-top: -6vw !important;
  }
}
@media (min-width: 811px) and (max-width: 1000px) {
  .live {
    display: flex;
    align-items: center;
    margin-left: 24vw;
  }
  .statiquesnames {
    background-color: #012f84;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: -2vw;
    width: 100vw;
    height: 20vw;
    border-radius: 20px;
  }
}
@media (min-width: 1001px) and (max-width: 1500px) {
}
