.didi {
  display: flex;
  flex-direction: row;
  margin-top: 6vw;
  background-color: #36526d;
}
.imgi {
  height: 25vw;
  width: 40vw;

  border-radius: 20px;
  background-color: #36526d;
  margin-left: 20vw;
}
.difcorona {
  margin-left: 5vw;
  width: 30vw;
}
p {
  font-size: larger;
  font-style: oblique;
  color: whitesmoke;
  text-align: center;
}
.corona {
  font-size: 80px;
  font-style: italic;
  margin-left: 8vw;
}
.about {
  color: yellowgreen;
  font-style: italic;
  margin-left: 3.2vw;
  width: 25vw;
  font-size: 40px;
  margin-top: -1vw;
}
