.dropdown {
  display: flex;
  flex-direction: row;
  background-color: #36526d;
  align-items: center;
  margin-top: 10vw;
}

.label {
  width: 10vw;
  height: 3vw;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.slc {
  background-color: rgb(71, 83, 255);
  border-radius: 20px;
}
.opt {
  background-color: rgb(71, 83, 255);
}
